footer {
    background-color: var(--col-dark);
    font-size: 0.889rem;
    color: white;
    ul.menu {
        list-style: none;
        padding-inline-start: 0;
    }
    a {
        transition: opacity 0.2s ease-in;
        text-decoration: none;
        color: white;
        &:hover {
            color: white;
            opacity: 0.8;
        }
    }
    .footer__logo {
        max-width: 200px;
        margin-bottom: 1rem;
    }
    .footer__heading {
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 0.5rem;
    }
    .fa-ul {
        margin-left: 1.5rem;
        li {
            margin-bottom: 0.25rem;
        }
    }
    .social-icons {
        font-size: 1.4rem;
        a {
            margin-right: 0.5rem;
        }
    }
}
.colophon {
    background-color: var(--col-darkest);
    color: white;
    font-size: 0.778rem;
    .cb {
        content: url(../img/cb.png);
        transition: all .2s ease-in;
        &:hover {
            opacity: 0.8;
        }
    }
}