$col-primary: #48c8f0;
$col-dark: #226073;
$col-darkest: #454749;
$col-highlight: #48c8f0;
$col-grey: #FAFAFC;

:root {
    --col-primary: #48c8f0;
    --col-secondary: #226073;
    --col-dark: #226073;
    --col-darkest: #454749;
    --col-highlight: #48c8f0;
    --col-grey: #FAFAFC;
    --h-top: 76px;
}