$col-primary: #002756;
$col-dark: #000d26;
$col-darkest: #000d26;
$col-highlight: #00994e;
$col-grey: #FFF0F0;

:root {
    --col-primary: #002756;
    --col-dark: #000d26;
    --col-darkest: #000d26;
    --col-highlight: #00994e;
    --col-grey: #FFF0F0;
    --h-top: 76px;
}